.container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 5px 20px; /* Réduit l'espace en haut et en bas */
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Style normal (transparent) */
.container {
  background-color: transparent;
}

/* Quand on scrolle */
.scrolled {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0 20px; /* Légèrement plus grand après scroll */
}

/* Autres styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 150px; /* Réduit la taille du logo */
}

.links {
  display: flex;
  gap: 20px;
  padding-right: 50px; /* Moins d'espace à droite */
}

.links a {
  text-decoration: none;
  color: #000000;
  font-size: 14px; /* Texte légèrement plus petit */
  font-weight: 300;
  transition: color 0.3s ease-in-out;
}

.links a:hover {
  color: #212222;
  font-weight: 500;
  
}


/* Responsive */
@media screen and (max-width: 768px) {
  .links {
      display: none; /* Cacher les liens sur mobile */
  }

  .menu-icon {
      display: block;
      font-size: 22px;
      cursor: pointer;
  }
}


