.container {
    position: relative;
  
  }
  .header {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
      margin-top: -40px;
      
  }
  .logo {
      width: 230px;
      
    }
  
  .links {
      display: flex;
      gap: 3rem; 
      z-index: 10;
      font-size: 17px;
      padding-right: 30px;
      font-family: 'Poppins','sans-serif';
      font-weight: 400;
  }
  @media screen and (max-width:1024px) {
    .logo {
      width: 155px;
    }
    .links {
        gap: 20px; 
        padding: 30px;
        font-size: 15px;
    }
    .form {
        gap: 1rem; /* Ajoute un espace entre les champs */
        max-width: 100%;
    }
    .button {
        border: 0.1px solid black;
        padding: 0.9rem;
        font-size: 10px;
    }
    .title {
        font-size: 1.2rem;
        
    }
    .description {
      
      max-width: 740px;
      margin: 0 auto;
      font-size: 0.7rem;
    }
    .input {
      padding-left: 1rem;
      outline: none;
      width: 100%;
      font-size: 10px;
  
    }
  
  }
  
  @media screen and (max-width:768px) {
      .logo {
        width: 150px;
      }
      .links {
          gap: 12px; 
          padding: 30px;
          font-size: 12px;
      }
      .form {
          gap: 1rem; /* Ajoute un espace entre les champs */
          max-width: 100%;
      }
      .button {
          border: 0.1px solid black;
          padding: 0.7rem;
          font-size: 10px;
      }
      .title {
          font-size: 1.2rem;
          
      }
      .description {
        
        max-width: 740px;
        margin: 0 auto;
        font-size: 0.7rem;
      }
      .input {
        padding-left: 1rem;
        outline: none;
        width: 100%;
        font-size: 10px;
    
      }
    
  }
  
  @media only screen and (max-width:640px){
      .logo {
          width: 130px;
      }
      .links {
          gap: 8px; 
          padding: 30px;
          font-size: 12px;
      }
      .form {
          gap: 1rem; /* Ajoute un espace entre les champs */
          max-width: 100%; /* Occupe toute la largeur disponible */
      }
      .button {
          border: 0.20px solid black;
          padding: 0.26rem;
      }
      .title {
          font-size: 1.2rem;
          
      }
      .description {
        
        max-width: 740px;
        margin: 0 auto;
        font-size: 0.7rem;
      }
      
  
  }